[Unit]
Description=uWSGI instance to serve CryptoUsersService
After=network.target

[Service]
User=nikos
Group=nikos
WorkingDirectory=/opt/cryptoUsersService/CryptoUsersService
Environment="PATH=/opt/cryptoUsersService/CryptoUsersServiceEnv/bin"
ExecStart=/opt/cryptoUsersService/CryptoUsersServiceEnv/bin/gunicorn  --bind unix:CryptoUsersService.sock   "wsgi:app()"



[Install]
WantedBy=multi-user.target

