[Unit]
Description=uWSGI instance to serve CryptoUsersService
After=network.target

[Service]
User=nikos
Group=nikos
WorkingDirectory=/home/nikos/CryptoUsersService
Environment="PATH=/home/nikos/CryptoUsersServiceEnv/bin"
ExecStart=/home/nikos/.local/bin/uwsgi   --ini CryptoUsersService.ini



[Install]
WantedBy=multi-user.target





